<div class="card mt-3">
  <div class="card-body">
    <%= form_for form do |f| %>
      <div class="form-row">
        <div class="col-md-6">
          <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.select :language_id, language_options, {}, class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.select :category_id, category_options, {}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-row mt-3">
        <div class="col">
          <%= f.text_area :entry, placeholder: prompt_text, class: 'form-control' %>
        </div>
      </div>
      <div class="form-row mt-3">
        <div class="col">
          <%= f.text_area :translation, placeholder: 'Translation', class: 'form-control' %>
        </div>
      </div>
      <div class="form-row mt-3">
        <div class="col">
          <%= f.text_field :tag_list, class: 'form-control tagsinput' %>
        </div>
      </div>
      <div class="form-row mt-3">
        <div class="col">
          <%= f.hidden_field :prompt_id, value: prompt_id %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
