<div class="card mb-3">
  <div class="card-header">
    <%= cell(User::Cell::Title, model.user) %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <h4><%= post_link %></h4>
      </div>
      <div class="col-sm">
        <div class="float-right"><span class="badge badge-primary"><%= model.category.name %></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p><%= model.entry %></p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
          <% model.tag_list.each do |tag| %>
            <span class="badge badge-info"><%= tag %></span>
          <% end %>
        </div>
    </div>
  </div>
  <div class="card-footer">
    <span><%= model.level.name %></span>
    <span><%= model.language.name %></span>
  </div>
</div>
